/** @format */

/* CURRENT USE */

html {
    height: 100%;
    margin: 0;
}

body {

    height: 100%;
    width: 100%;
    margin: 0;

    background-color: #f7f7f8;
    font-family: Arial, sans-serif;

    overflow-y: auto;
    overflow-x: hidden;
}

footer {

    width: 100%;

    margin: 0 auto;

    margin-top: -50px;

    background-color: #ffffff;

    padding: 50px;

    text-align: center;

    border-top: 1px solid #d4d4d4;

    left: 0;
    right: 0;
    bottom: 0;
}



p {
    line-height: 1.65em;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    line-height: 1.2em;
    font-size: 34px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 12px;
    font-family: Arial, sans-serif;
}

input {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    background-color: #d8d8d8;
    border: 0.5px solid black;
}

.flavor-text {
    /* opacity: 40%; */
    color: rgb(184, 184, 184);
    line-height: 17px;
}

.nav-bar {
    /* Nav element inside Navigation Class */
    /* FLEXBOX SETTINGS */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */

    justify-content: space-between;
    align-items: flex-start;

    min-width: 1200px;
    width: 100%;
    padding: 0px;
    min-height: 60px;
    top: 0;
    left: 0;
    border-bottom: 2px solid #ecedef;

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    overflow: visible;
    background-color: #ffffff;
    position: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;







    /* display: flex;
    flex-direction: column;

    justify-self: center;
    margin-top: 10vh; */
}

.content {
    
    height: 100%;
    width: 1200px;
    padding: 1em;
    border-radius: 30px;
    
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

    font-family: Arial, sans-serif;
    
    background-color: #ffffff;
    /* background-color: #f7f7f8; */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* border: 2px solid #d8d8d8; */
    
    
    
    /* margin: 25px auto; */
    /* width: 70%; */
    
    /* padding: 50px; */
}

/* CURRENT USE END */


/* NOT IN USE CLEAN WITH CAUTION */

.log-in-button {
    border: 2px solid #229cc2;
    background-color: #00a1cb;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* width: 76px;
    height: 24px; */
    color: white;
    font-size: 16px;
}

.utscLogo {
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 10px;
}
#loginLogo {
    align-self: center;
    height: 100px;
    width: 100px;
}

.prettyFontLinks {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    padding: 10px 10px;
    background-color: #ffffff;
    color: inherit;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    min-width: 100px;
    align-self: center;
}
a {
    color: #6d7e8e;
}
/* Links CSS */
a:hover {
    color: #1f1f1f;
    font-weight: 600;
    background-color: #f7f7f8;
    /* font-size: 16px; */
}
a:active {
    font-weight: 600;
}

footer a {
    color: #6d7e8e;
}


.special-text {
    letter-spacing: 0.05em;
}
.small-text {
    font-size: 16px;
}

/* MARK TABLE */
.markTable {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(208, 208, 209);
    padding: 10px;
}
.student-name {
    order: 1;
    flex: 1;
}
.quiz-one {
    order: 2;
    flex: 1;
}
.quiz-two {
    order: 3;
    flex: 1;
}
.midterm {
    order: 4;
    flex: 1;
}
.final-exam {
    order: 5;
    flex: 1;
}

/* MARK TABLE END */

/* Navigation Bar */
.navigation {
    /* Navigation Class */
    width: 100%;
    /* min-width: 1200px; */
    /* padding: 100px; */
    min-height: 60px;
    /* border: 10px solid red; */
    margin: 20px;
}

.box-link {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    padding: 10px 10px;
    color: inherit;
    text-decoration: none;
    text-align: left;
    justify-content: left;
}
nav a {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    padding: 10px 10px;
    color: inherit;
    text-decoration: none;
    text-align: left;
    justify-content: left;
    /* min-width: 170px; */
    /* align-self: center; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
.error-message {
    background-color: #f2dede;
    padding: 5px;
    color: #a94442;
    border: 2px solid #ebccd1;
    border-radius: 2px;
    width: fit-content;
}
.security-page {
    background-color: rgb(86, 86, 112);
}
/* Navbar Buttons Flex CSS */
/* Main Buttons */
#homeButton {
    text-align: center;
    align-self: center;
}
/* #assignmentButton {
    order: 2;
    flex: 1;
}
#syllabusButton {
    order: 3;
    flex: 1;
} */

/* Mid Buttons */

/* #testButton {
    order: 4;
    flex: 1;
}
#labsButton {
    order: 5;
    flex: 1;
} */

/* Connect Button Drop Down */
.dropDown {
    position: relative;
    display: inline-block;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 10px;
    background-color: #ffffff;
    color: inherit;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    min-width: 100px;
    align-self: center;
    /* order: 6;
    flex: 1; */
}
/* .dropdown:hover {
    color: #1f1f1f;
    font-weight: 600;
} */
.dropDownContent {
    /* margin-top: 0px; */
    display: None;
    position: absolute;
    align-self: center;
    margin: auto;
    width: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 20 px; */
    z-index: 1;
    /* padding: 0px; */
    min-width: 230px;
}

.dropdown:hover .dropDownContent {
    display: flex;
    flex-direction: column;
}

#academicsButton {
    /* width: 200px;
    margin: 200px; */

    order: 1;
    flex: 1;
}
#connectButton {
    /* padding: 100px; */
    order: 1;
    flex: 1;
}
#externalButton {
    /* width: 200px; */
    order: 1;
    flex: 1;
}

#teamButton {
    /* order: 7; */
    flex: 1;
}
#feedbackButton {
    /* order: 8; */
    flex: 1;
}

/* External Redirect Buttons */
#piazzaButton {
    /* order: 9; */
    flex: 1;
}

#markusButton {
    /* order: 10; */
    flex: 1;
}

/* Nav Link States CSS */

nav a:hover {
    /* background-color: blue; */
    color: #1f1f1f;
}



.centerContent {
    margin-left: 50%;
}
