/** @format */

/* CURRENT USE */
:root {
    font-size: 16px;
    /* font-family: Arial, sans-serif; */
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-primary: #000;
    --text-secondary: #b8b8b8;

    --bg-primary:#12181b;
    /* --bg-secondary: #22262f00; */
    --bg-secondary: var(--bg-darker);
    /* --bg-secondary: #22262f; */
    --bg-darker: #0e1316;
    --bg-footer: #1a242a;

    --bg-body: var(--bg-darker);
    --alert-bg-color: #88ffd1;

    --h-color: #fff;

    --nav-bar-height: 5em;
    --nav-bar-icon-height: 3em;
    /* f7f7f8 */

}
html {
    height: 100%;
    margin: 0;
}

body {

    height: 100%;
    width: 100%;
    margin: 0;

    background-color: var(--bg-body);
    font-family: inherit;

    overflow-y: auto;
    overflow-x: auto;

    margin-bottom: 100px;
}

footer p {
    color: #fff;
}
footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
     */
    width: 100%;
    /* height: 2em; */
    /* height: 100%; */
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 10em;

    background-color: var(--bg-footer);
    font-size: .6em;
    padding: 0px;
    color:rgba(0, 0, 0, 0.2);
    /* font-weight: 600; */
    /* padding: 50px; */
    /* height: 20px; */
    /* color: #fff; */
    text-align: center;
    align-self: center;
    border-top: 1px solid var(--bg-primary);

    left: 0;
    right: 0;
    bottom: auto;
    position:absolute;

    /* position:fixed; */
}
.center {
    margin-left: auto;
    text-align: center;

}
.profile-pic {
    height: 350px;
    filter:sepia(50%);
    width: 300px;
    border-radius: 20px;
}
.linkedin-logo {
    /* background-color: white; */
    width: 12em;
    height: 3em;
    padding: 9px;
    /* box-shadow: 0px 0px 16px px rgba(0, 0, 0, 0.2); */
}
.svg-icon {
    width: var(--nav-bar-icon-height);
    height: var(--nav-bar-icon-height);
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }

p {
    /* line-height: 1.65em; */
    font-size: 1.25em;
    color: var(--h-color);
    
}

h1 {
    line-height: 2em;
    font-size: 34px;
    font-family: inherit; 
    color: var(--h-color);
    padding: 0;
}

h2 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 12px;
    font-family: inherit;
    color: var(--h-color);
}

input {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    background-color: #d8d8d8;
    border: 0.5px solid black;
}

.flex-wrapper {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 10em; */
    /* padding: 2em; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 16px 0px #ffffff33; */
}
.side-column {
    flex: 1;
    height: 500px;
    /* background-color: var(--bg-darker); */
    background-color:var(--bg-secondary);
    padding: 2em;
    /* margin: 10px; */
    border-radius: 30px;
    margin-right: 1em;
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2); */
    max-width: 300px;
}
.main-column {
    flex: 3;
    height: 500px;
    background-color: var(--bg-secondary);
    padding: 2em;
    /* margin: 10px; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2); */
    
    
}
.content {
    
    /* height: clamp(0, 100%, 100%); */
    /* height: 100%; */
    width: 1200px;
    /* padding: 2em; */
    border-radius: 30px;
    height: auto;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

    /* font-family: inherit; */
    
    background-color:var(--bg-secondary);
    /* background-color: #f7f7f8; */
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* border: 2px solid #d8d8d8; */
    
    
    
    /* margin: 25px auto; */
    /* width: 70%; */
    
    /* padding: 50px; */
}
.content-item {
    padding: 2em;
}




.flavor-text {
    /* opacity: 40%; */
    color: rgb(184, 184, 184);
    line-height: 2em;
}

.navbar {
    /* margin-bottom: 3em; */
    /* height: var(--nav-bar-height); */
    background-color: var(--bg-body);
    margin-bottom: 3em;
    border-bottom: 2px solid var(--bg-darker);
    padding: 10px;
    /* padding: 1em; */
    /* position: inherit; */
    /* border-bottom: 2px solid var(--text-secondary); */

}

.nav-item{
    /* height: inherit; */
    /* width: 20px; */
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;



}
.nav-item:last-child {
    /* background-color: white; */
    /* align-self: flex-end; */
    /* justify-content: flex-end; */
    filter: brightness(0) invert(1);
    margin-left: auto;
}



.navbar-nav {
    display: flex;

    width: clamp(1200px,50%,1200px);
    /* height: 20px; */
    
    flex-direction: row;

    list-style: none;
    padding:0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;


    align-items:flex-start;
    
    /* justify-self: center;     */
    /* background-color: #00a1cb; */
    /* background-color: #35303d; */
    /* height: inherit; */

}


.nav-bar {
    /* Nav element inside Navigation Class */
    /* FLEXBOX SETTINGS */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */

    justify-content: space-between;
    align-items: flex-start;

    min-width: 1200px;
    width: 100%;
    padding: 0px;
    /* min-height: var(--nav-bar-height); */
    top: 0;
    left: 0;
    border-bottom: 2px solid #ecedef;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: visible;
    background-color: #ffffff;
    position: fixed;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* display: flex;
    flex-direction: column;

    justify-self: center;
    margin-top: 10vh; */
}
.fill {
    /* min-height: 2vw; */
    height: 100%;
    /* height: 100%; */
    margin: 0px auto;
    padding:0px auto;
    width: 0px;
    height: clamp(0px, 100%, 100%);

    
    
}


.divider {
    /* height: 30px; */
    border: 2px solid var(--bg-secondary);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
/* CURRENT USE END */
b {
    background: var(--alert-bg-color);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* NOT IN USE CLEAN WITH CAUTION */

.log-in-button {
    border: 2px solid #229cc2;
    background-color: #00a1cb;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* width: 76px;
    height: 24px; */
    color: white;
    font-size: 16px;
}

.icon {
    padding: 0;
    width: var(--nav-bar-icon-height);
    height: var(--nav-bar-icon-height);
    /* margin: 10px; */
}

.prettyFontLinks {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    float: left;
    color: inherit;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    min-width: 100px;
    align-self: center;
}


/* MARK TABLE END */

/* Navigation Bar */
.navigation {
    /* Navigation Class */
    width: 100%;
    /* min-width: 1200px; */
    /* padding: 100px; */
    min-height: var(--nav-bar-height);
    /* border: 10px solid red; */
    margin: 20px;
}

.box-link {
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    padding: 10px 10px;
    color: inherit;
    text-decoration: none;  
    text-align: left;
    justify-content: left;
}
nav a {
    /* height: var(--nav-bar-height); */
    width: auto;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    float: left;
    padding: 10px 10px;
    color: inherit;
    text-decoration: none;
    text-align: left;
    justify-content: left;
    /* min-width: 170px; */
    /* align-self: center; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
