<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB63: Design and Analysis of Data CSCB63: Design and Analysis of Data </title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <div class="navigation">
        <nav class="nav-bar">

            <image class = "utscLogo" src="static/utscPicture2.png"></image>

            <a id = "homeButton" href="/">Home</a>
            <div  class="dropDown">
                <span>
                    Academics
                </span>

                <div id = "academicsButton" class = "dropDownContent">
                    
                    <a id = "assignmentButton" href="templates/assignments.html">📝 Assignments</a>
                    <a id = "syllabusButton" href="templates/syllabus.html">📔 Syllabus</a>
                    <a id = "testButton" href="templates/tests.html">🏹 Tests</a>
                </div>
            </div>
            
            <div  class="dropDown">
                <span>
                    Connect
                </span>
                <div id = "connectButton" class = "dropDownContent">
                    <a id = "teamButton" href="/templates/team.html">About Me</a>
                </div>
            </div>
        </nav>
    </div>

    
    
    <div class="content">
        <h1 class="centerConent">Remark Requests</h1>
        <a href="/logout">Logout</a>
        {% if isInstructor %}
        <h2>Hello {{full_name}}, here your marks for your class </h2>
        {% else %}
        <h2>Hello {{full_name}}, here are your marks </h2>
        {% endif %}

        <div class = "markTable"> 
            <div class = "student-name">
                <p> Student Name </p>
            </div>
            <div class = "quiz-one">
                <p> Quiz One </p>
            </div>
            <div class = "quiz-two">
                <p> Quiz Two </p>
            </div>
            <div class = "midterm">
                <p> Midterm </p>
            </div>
            <div class = "final-exam">
                <p> Final Exam </p>
            </div>
        </div>
        
        {% for student in student_grades %}
        <div class = "markTable">
            <div class = "student-name">
                <p>{{student["username"]}}</p>
            </div>
            <div class = "quiz-one">
                <p>{{student["quiz"]}}</p>
            </div>
            <div class = "quiz-two">
              <p>{{student["quiz2"]}}</p>
            </div>
            <div class = "midterm">
              <p>{{student["midterm"]}}</p>
            </div>
            <div class = "final-exam">
              <p>{{student["exam"]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

        <!-- <div class="grade-container"></div> -->

        <!-- <table>
            <tr>
                <th>Student Name</th>
                <th>Quiz 1</th>
                <th>Quiz 2</th>
                <th>Midterm</th>
                <th>Final Exam</th>
            </tr>
            {% for student in student_grades %}
            <tr>
                {% for key in student %}
                <td>{{student[key]}}
                {% if key != 'username' %}
                    {% if isInstructor %}
                        <p class="small-text" >Enter new mark: <form method="POST" action="/change-grade">
                                <input type="hidden" name=username value={{student['username']}}>
                                <input type="hidden" name=test value={{key}}>
                                <input type=text name=new_value>
                                <input type=submit>
                            </form></p></td>
                    {% else %}
                    <p class="small-text">Remark <form method="POST" action="/remark-request">
                            <input type="hidden" name=username value={{student['username']}}>
                            <input type="hidden" name=test value={{key}}>
                            <input type=text name=reason>
                            <input type=submit>
                        </form></p></td>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
          </table> -->
    </div>
    <div class="footer-container">
        <footer>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
                Faculty of Computer Science at UofT</a><br>
                Site was designed by Richard Huang and Jeffrey
        </footer>
    </div>
</body>
</html>