<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weblogin | CSCB63 </title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body class="security-page">
    <div class="container">
        <div class="content" >
            <image id = "loginLogo" class = "utscLogo" src="static/utscPicture2.png"></image>
            <p class="flavor-text"> CSCB63: Design and Analysis of Data</p>
            <h2>Please login to continue</h1>
            {% if incorrect: %}
            <p class = "error-message" class="flavor-text">Username or password is incorrect</p>
            {% endif %}
            <form class="login-form" method="post">
                <p class = "special-text">Enter your username: <input type=text name=username></p>
                <p class = "special-text">Enter your password: <input type=password name=password></p>
                <p><input class = "log-in-button" type=submit value="Log in ▶"></p>
            </form>
            <a class = "box-link" href="/signup">Sign up</a>
        </div>
    </div>
</body>
</html>