<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href= "../static/index.css">
    <link rel="stylesheet" href="../static/card.css">

</head>
<body>
    <nav class = "navbar">
        <ul class = "navbar-nav">
            <li class = "nav-item">
                <a href = "../index.html"> <p> Home</p></a>
            </li>

        </ul>
    </nav>

    <div class = "content">
        <div class="content-item">

            <h1> ⌛ TIME MANAGEMENT</h1>
            <p class="flavor-text">
                Manage Time is to create time.
            </p>
            <hr class = "divider">
            <p>
            How do you use the <b>168 hours</b> you have in one week?<br>
            Some students are very good at <b>recording tasks in a day planner and preparing elaborate to-do lists.</b><br>
            However, planning does not always translate into completed activities.<br>
            For some students the act of planning becomes the goal rather than completion of tasks.<br>
            Like goal setting (see the Goal Settingtipsheet),
             commit yourself to what you schedule and follow through on your intentions.</p>
            
             <p>
    
                Benefits of Time Management Being an effective time manager has several benefits:
    
                Reduce Procrastination. If you schedule specific periods of time to complete activities, you will be less likely to put tasks off until tomorrow.<br>
                Gain More Control, Less Stress. Good time management means not waiting until the last minute and rushing to complete assignments.  Always feeling behind increases anxiety.<br>
                Complete More Tasks. Being a good time manager means that you can complete more tasks and be more successful in what you do. Setting priorities and reassessing your progress can ensure that you spend sufficient time on your academic activities. <br>
                Enjoy Your Free Time. Knowing that you have completed your assignments and met your deadlines can make you feel less guilty about taking off some time for yourself.<br>
             </p>
    
        </div>
    </div>
</body>
</html>